<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let card of cards;let indexOfelement=index;">
    <img src="{{card.cardImgUrl}}">
    <div class="likes">
      <ion-icon (click)="favoriteCard(indexOfelement)" [name]="card.liked ? 'star' : 'star-outline'" size="medium"></ion-icon>
      <p>{{card.numOfLikes}}</p>
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{card.subTitle}}</ion-card-subtitle>
      <ion-card-title>{{card.title}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      {{card.description}}
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="addCard()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
  
</ion-content>
